# Import Libraries

In [2]:
#Python libraries
#Classic,data manipulation 
import numpy as np
import pandas as pd
# Plots
import plotly.graph_objects as go
import plotly.offline as po
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import matplotlib.pyplot as plt
import seaborn as sns
import dash
import plotly.express as px
import random
import plotly.figure_factory as ff
from plotly import tools
from plotly.subplots import make_subplots
from plotly.offline import iplot
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_rows",None)
from sklearn import preprocessing 
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.offline as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.tools as tls
import plotly.figure_factory as ff
py.init_notebook_mode(connected=True)
# Dataprep
from dataprep.eda import create_report
from dataprep.eda import plot_missing
from dataprep.eda import plot_correlation
from dataprep.eda import plot
# Modeling 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from imblearn.combine import SMOTEENN #resampling
from sklearn import datasets, linear_model, metrics
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report,f1_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score

# Load Dataset

In [3]:
df=pd.read_csv("diabetes_012_health_indicators_BRFSS2015.csv") 
df.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

# Explore Dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [5]:
df.shape

(253680, 22)

In [6]:
df.sample(10)

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
105298,2.0,1.0,1.0,1.0,34.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,1.0,10.0,5.0,6.0
145560,0.0,0.0,0.0,1.0,22.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,8.0,6.0,7.0
108821,0.0,0.0,0.0,1.0,32.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,4.0,0.0,0.0,0.0,1.0,3.0,5.0,5.0
100460,0.0,1.0,1.0,1.0,32.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,10.0,5.0,6.0
45992,0.0,0.0,0.0,1.0,21.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,11.0,6.0,6.0
71994,0.0,1.0,1.0,1.0,23.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,10.0,6.0,8.0
127296,0.0,0.0,1.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,2.0,1.0,0.0,0.0,9.0,6.0,8.0
177955,0.0,1.0,0.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,8.0,5.0,7.0
150490,0.0,0.0,1.0,1.0,20.0,1.0,0.0,1.0,1.0,1.0,...,1.0,0.0,4.0,0.0,30.0,0.0,0.0,6.0,4.0,8.0
14990,1.0,1.0,1.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,4.0,0.0,8.0,1.0,0.0,12.0,5.0,6.0

In [8]:
df.columns

Index(['Diabetes_012', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

In [9]:
# to rename the some columns important of dataset
df.rename(columns={'Diabetes_012': 'Diabetes_Type','HighBP': 'High blood pressure','HighChol':'High cholesterol','GenHlth':'General Health','DiffWalk':'Difficulty Walking'}, inplace=True)
df.head()

,Diabetes_Type,High blood pressure,High cholesterol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,General Health,MentHlth,PhysHlth,Difficulty Walking,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

# Cleaning Dataset

In [10]:
df.isna().sum() # No missing value

Diabetes_Type           0
High blood pressure     0
High cholesterol        0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
General Health          0
MentHlth                0
PhysHlth                0
Difficulty Walking      0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

#### Display missing values through a library Dataprep.Eda

In [ ]:
#plot_missing(df)

# Visulzation the correlation

In [ ]:
df.corr()

In [ ]:
corr = df.corr()
fig, ax = plt.subplots(figsize=(25,15)) 
sns.heatmap(corr,annot=True, cmap = "RdBu", linewidth = 0.30)
plt.title("Correlation matrix of features")
plt.show()

In [11]:
df.Diabetes_Type.unique()

array([0., 2., 1.])

In [12]:
Diabetes=df['Diabetes_Type']
Diabetes.value_counts()

0.0    213703
2.0     35346
1.0      4631
Name: Diabetes_Type, dtype: int64

In [13]:
df['Diabetes_Type'].replace({2.0: 1.0},inplace = True)

In [14]:
Diabetes=df['Diabetes_Type']
Diabetes.value_counts()

0.0    213703
1.0     39977
Name: Diabetes_Type, dtype: int64

In [ ]:
#fig = px.pie(df['Diabetes_Type'].value_counts().reset_index(), values='Diabetes_Type', names=['No diabetes ', 'Diabetes'])
#fig.update_traces(textposition='outside', textinfo='percent+label', )
#fig.show()

In [ ]:
df['Diabetes']=df['Diabetes_Type']

In [ ]:
df['Diabetes'] = df['Diabetes_Type'].map({0.0:'No Diabetes', 1.0:'Diabetes'})

In [ ]:
df.head()

In [ ]:
#px.histogram(df, x=df['BMI'], title="The relationship between BMI and Diabetes", color="Diabetes")

In [ ]:
#px.histogram(df, x=df['HeartDiseaseorAttack'], title="Heart Diseaseor Attack vs. Diabetes", color="Diabetes")

In [ ]:
sns.set(style="darkgrid")
sns.kdeplot(data=df['Age'], shade=True)

In [ ]:
#create_report(df)

In [7]:
diabetes_bp = df.groupby(['Diabetes_Type', 'High blood pressure']).size().reset_index(name = 'Count')
print(diabetes_bp)

KeyError: 'Diabetes_Type'

In [ ]:
positions = (0, 1, 2, 3, 4, 5, 6)
labels = ('Mon','Tue','Wed','Thu','Fri','Sat','Sun')
plt.figure(figsize = (8,6))
sns.barplot(x = 'Diabetes_Type', y = 'Count', hue = 'High blood pressure', data = diabetes_bp, palette = 'Set1')
plt.xticks(positions,labels);
plt.title("Dibaetes Status ~ BP")
plt.show()

In [ ]:
df['Diabetes_Type'] = df['Diabetes_Type'].astype('int')

## Experiment 1: Split data to training,validation and test set

In [ ]:
df_train_val, df_test = train_test_split(df, test_size=0.20, random_state=0)
df_train, df_val = train_test_split(df_train_val, test_size=0.20, random_state=0)

In [ ]:
# The figure above display the correlation between the features and the target, for this i choose only these features
x_train,y_train = df_train.drop(['Diabetes_Type','Diabetes'],axis=1),df_train['Diabetes_Type']
x_val,y_val = df_val.drop(['Diabetes_Type','Diabetes'],axis=1),df_val['Diabetes_Type']
x_test,y_test = df_test.drop(['Diabetes_Type','Diabetes'],axis=1),df_test['Diabetes_Type']

In [ ]:
print(x_train.shape)
print(x_val.shape)
print(x_test.shape)

In [ ]:
# Train on training set, and Test on testing set
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train, y_train)
print("The score for kNN is")
print("Training set: {:6.2f}%".format(100*knn.score(x_train, y_train)))
print("Validation set: {:6.2f}%".format(100*knn.score(x_val, y_val)))
print("Test set: {:6.2f}%".format(100*knn.score(x_test, y_test)))

In [ ]:
y_pred = knn.predict(x_val)
print(metrics.accuracy_score(y_val, y_pred))

In [ ]:
#test the baseline model
test_pred=knn.predict(x_test)
print("KNN Accuracy for test set=",accuracy_score(y_test, test_pred))
print("KNN F1 score for test set=",f1_score(y_test, test_pred))

### Experiment 2: Knn by using cross vaidation

In [ ]:
knn = KNeighborsClassifier(n_neighbors=5)
scores = cross_val_score(knn, x_train, y_train, cv=10, scoring='accuracy')
print(scores)

In [ ]:
# use average accuracy as an estimate of out-of-sample accuracy
print(scores.mean())

In [ ]:
# search for an optimal value of K for KNN
k_range = list(range(1, 31))
k_scores = []
for k in k_range:
    knn = KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(knn, x_train, y_train, cv=10, scoring='accuracy')
    k_scores.append(scores.mean())
print(k_scores)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

# plot the value of K for KNN (x-axis) versus the cross-validated accuracy (y-axis)
plt.plot(k_range, k_scores)
plt.xlabel('Value of K for KNN')
plt.ylabel('Cross-Validated Accuracy')